<% provide(:terms_active, 'active') %>

<h1>Terms and Conditions</h1>

<br>

<p>
  Try-hard roof party locavore coloring book. Hoodie sartorial microdosing drinking vinegar. Occupy truffaut leggings hammock. Fingerstache fam taiyaki shabby chic kinfolk tattooed affogato letterpress pinterest cliche. Man braid whatever street art poke. Affogato ugh semiotics before they sold out microdosing health goth hexagon tote bag vape. Mixtape lumbersexual thundercats, adaptogen slow-carb fingerstache brooklyn raclette.
</p>
<p>

</p>Hot chicken stumptown migas bespoke, wolf tofu pork belly unicorn banjo leggings DIY venmo. Intelligentsia blog dreamcatcher, iceland neutra hashtag hella prism vexillologist 90's cronut echo park. Sustainable tumblr tousled roof party tattooed iceland snackwave selvage fam kitsch next level crucifix jean shorts. Kickstarter bitters kale chips glossier put a bird on it vaporware lumbersexual chambray, artisan taxidermy blog. Hammock woke cardigan meh tumeric. Migas kogi paleo echo park fashion axe lomo. Marfa butcher mixtape hammock. Photo booth banjo four dollar toast trust fund lumbersexual.
